{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>

    <link rel="stylesheet" href="{% static 'FabiApp/css/accueil.css' %}">
</head>

<body>
   
    {% include './navbar.html' %}

    <div class="section_haut_accueil">
         <img src="{% static 'FabiApp/img/accueil_fabiRestore.png' %}" alt="4 photos de meubles">
        <h1> Rénovation de meubles Mado </h1>
    </div>

    <div class="eco-responsable">
        <h1> La seconde main, une démarche éco-responsable et des coûts réduits </h1>
        <p class="article">
            blabla sur la rennovation des meubles + images avant-après
        </p>
    </div>

    {% include './footer.html' %}

</body>

</html>