* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  
}

.contactAll{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 10rem;
    align-items: stretch; /* Étire les éléments pour qu'ils aient la même hauteur */
    gap: 0;
}

.carte-contact {
    background-color: rgb(5, 4, 32);
    color: white;
    flex-direction: column;
    padding: 4rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.carte-contact p {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacth1 {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
}

a {
    align-items: center;
    justify-content: center;
    display: flex;
}

.carte-contact telephone {
    flex-direction: column;
}

.carte-contact email {
    flex-direction: column;
}

.carte-contact facebook {
    flex-direction: column;
}

.facebook .logo {
    width : 50px;
    height : 50px;
}

.contact_photo{
    display: flex;
}

