.footerAll{
    justify-content: space-between;
    display: flex;
    width: 100%;
    background-color: rgb(5, 4, 32);
}

.footerFabi {
    padding: 0 5rem;
    width: 100%;
    background-color: rgb(5, 4, 32);
    color: white;
    align-items: top;
    justify-content: space-between;
    display: flex;
    position: relative;
}

.footerFabi .logo_fabi_restore {   /*le faire disparaitre quand l'écran devient trop petit ? */
    max-width : 100px;
    max-height : 100px;
    margin-top: 70%;
    margin-right: 2rem;
    display: flex;
}

.copyright {
    padding: 10px;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.navigation  {
    padding: 40px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact  {
    padding: 40px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navigation h1, .contact h1 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.navigation h1 {
    margin-bottom: 30px;
}

.contact h1 {
    margin-bottom: 20px;
}

.navigation a {
    margin-bottom: 15px;
}

.contact p {
    margin-bottom: 10px;
}

.croquis {
    /* height: 100%;
    width: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.croquis_img {
    max-height: 280px;
}


@media (max-width: 1000px) {
    .croquis {
        display: none;
    }

    .footerFabi {
        padding: 0 2rem;
    }
}
