.meuble {
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.meuble p {
    margin: 1rem 20rem;
}

.meuble a {
    color: rgb(5, 4, 32);
}

.gallerie {
    max-width: 1400px;
    display: flex;
    align-items: space;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}


.mado_image {
    max-height: 400px;
    max-width: 400px;
    margin: 10px;
}
